@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');


:root{
    --color-minion: #f5e050;
}

body{
    margin: 0px;
    font-family: 'Fuzzy Bubbles', cursive;
    text-align: center;
}

header{
    color: white;
    background-color: var(--color-minion);
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

textarea{
    margin: auto;
    display: block;
    width: 90%;
    max-width: 500px;
    height: 20vh;
    margin: 3rem 1rem;
    padding: .5rem;
}

button{
    padding: .3rem 1rem;
    font-size: medium;
    margin: auto;
    display: block;
    text-align: center;
    background-color: var(--color-minion);
    color: white;
    border: 0;
    border-radius: .2rem;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 1.5rem;
    
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#output{
    border: 1px solid black;
    margin: auto;
    display: block;
    width: 90%;
    max-width: 500px;
    height: 20vh;
    margin: 3rem 1rem;
    padding: .5rem;
}

footer{
    padding: 1rem;
    text-align: center;
    color: white;
    background-color: var(--color-minion);
    box-shadow: rgba(0, 0, 0, 0.24) 0px -3px 8px;
}

<